{% extends 'admin/layout_admin.html' %}

{% block title %}
    <title>afficher les commentaires</title>
{% endblock %}

{% block body %}
<h3>Commentaires</h3>
<br><br>
{% for article in articles %}
    <h3>{{ article.nom }}</h3>
{% endfor %}
{% if comment | length >= 1 %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">user_id</th>
            <th scope="col">commentaire</th>
            <th scope="col">note</th>
            <th scope="col"></th>
        </tr>
        </thead>
        {% for comment in comment  %}
            <tbody>
            <tr>
                <th scope="row">{{ comment.id }}</th>
                {% for user in users %}
                    {% if user.id == comment.user_id %}
                        <td>{{ user.username }}</td>
                    {% endif %}
                {% endfor %}
                <td>{{ comment.commentaire }}</td>
                <td>{{ comment.note }}/5</td>
                <td>
                    <form  action="/admin/article/delete_comment" method="post">
                        <input type="hidden" name="idComment" value="{{ comment.id }}">
                        <button class="btn btn-danger float-right"><i class="fas fa-shopping-cart"></i>Supprimer</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <h6>Pas de commentaires</h6>
{% endif %}
{% endblock %}