{% extends 'admin/layout_admin.html' %}
{% block title %}
    <title>modifier un article</title>
{% endblock %}

{% block body %}
  <h1 class="text-center text-info">Modifier article</h1>
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
  <form method="post" action="/admin/article/edit">
    <fieldset class="container border">
        <legend class="text-white"> article</legend>
            <div class="m-5 text-white">

                <label for="nom" class="form-label"><i class="bi bi-geo-alt-fill"> Nom</i></label>
                <input type="text" class="form-select" name="nom" size="18" value="{{ article.nom }}" id="nom">

                <div class="text-center">
                    <button type="button submit" class="btn btn-info mb-2">Modifier</button>
                </div>
            </div>
    </fieldset>
  </form>
{% endblock %}
