{% extends 'admin/layout_admin.html' %}

{% block title %}
    <title>afficher les articles</title>
{% endblock %}

{% block body %}
<h3>Articles</h3>
<a  class="btn btn-outline-success" href="/admin/article/add">ajouter un article</a>
<br><br>
<table class="table">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">nom</th>
        <th scope="col">modèle</th>
        <th scope="col">marque</th>
        <th scope="col">catégorie</th>
        <th scope="col">prix</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    {% for article in articles  %}
        <tbody>
        <tr>
            <th scope="row">{{ article.id_telephone }}</th>
            <td>{{ article.nom }}</td>
            {% for modele in modeles %}
                {% if modele.id_modele == article.id_modele %}
                    <td>{{ modele.libelle }}</td>
                {% endif %}
            {% endfor %}
            {% for marque in marques %}
                {% if marque.id_marque == article.id_marque %}
                    <td>{{ marque.libelle }}</td>
                {% endif %}
            {% endfor %}
            {% for categorie in categories %}
                {% if categorie.id_categorie == article.id_categorie %}
                    <td>{{ categorie.libelle }}</td>
                {% endif %}
            {% endfor %}
            <td>{{ article.prix }} €</td>
            <td>
                <form  action="/admin/article/comment/{{ article.id_telephone }}" method="GET">
                    <input type="hidden" name="idArticle">
                    <button class="btn btn-info float-right"><i class="fas fa-shopping-cart"></i>Commentaire</button>
                </form>
            </td>
            <td>
                <form  action="/admin/article/edit/{{ article.id_telephone }}" method="GET">
                    <input type="hidden" name="idArticle">
                    <button class="btn btn-success float-right"><i class="fas fa-shopping-cart"></i>Modifier</button>
                </form>
            </td>
            <td>
                <form  action="/admin/article/delete" method="post">
                    <input type="hidden" name="idArticle" value="{{ article.id_telephone }}">
                    <button class="btn btn-danger float-right"><i class="fas fa-shopping-cart"></i>Supprimer</button>
                </form>
            </td>
        </tr>
    {% endfor %}

{% endblock %}
